body {
  margin: auto;
  background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);

  max-width: 45%;
  background-size: auto;
}
.container-text-center {
  display: block;
  background-color: white;
  border-radius: 4px;
}
.page {
  background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  border-radius: 10px;
  margin: 10px;
  padding: 7px;
}
form {
  text-align: right;
}
input {
  width: 45%;
  border-radius: 8px;
  border: 1px solid rgba(84, 84, 215, 0.614);
}
::placeholder {
  opacity: 1;
  font-style: italic;
  padding-left: 5px;
}

button {
  padding: 1px 15px 1px 15px;
  border-radius: 8px;
  border: 1.5px solid rgb(17, 14, 12);
  background-color: rgb(223, 101, 19);
  color: aliceblue;
}

p {
  font-size: 32px;
  text-align: right;
  color: rgba(0, 0, 0, 0.861);
}

h1 {
  text-align: left;
  font-size: 38px;
  font-family: "Lobster", cursive;
}
h2 {
  font-size: 17px;
  text-align: left;
  color: rgba(0, 0, 0, 0.598);
}
h3 {
  font-size: 20px;
  text-align: left;
  line-height: 3;
  color: rgba(0, 0, 0, 0.701);
}
footer {
  margin-left: 25px;
  font-style: italic;
  text-decoration: none;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.col {
  text-transform: capitalize;
}
.descriptionStyling {
  font-size: 26px;
  text-align: center;
  font-style: italic;
}
.weatherDegree {
  font-size: 42px;
  text-align: center;
}
